doctype html
html
head
    title Logowanie
    link(rel="stylesheet" type="text/css" href="../stylesheet/style.css")


body
    include ./header.pug
    if(user)
        h1 Hi, #{user.name}
    else
        a(href="/auth/google") Sign Up