doctype html
html
  head
    title Logowanie
    link(rel='stylesheet', type='text/css', href='/style.css')
    link(rel='stylesheet', type='text/css', href='/reset.css')

  include ./header.pug
  main.container
    img(src='./google.png', alt='google icon', class="google-logo")

    if(user)
      h1.section-title Hi, #{user.name}
    else
      a(href="/auth/google", class='link-element') Sign Up!