doctype html
html(lang='en')
  head
    title Zalogowano
    link(rel='stylesheet', type='text/css', href='/style.css')
    link(rel='stylesheet', type='text/css', href='/reset.css')

  body
    main.container
      if(user)
        h1.section-title Zalogowano jako 
        h2.section-title__red #{user.displayName}
        span.section-title Twoje google id: #{user.id}
        a(href='/logout', class='link-element') Logout
      else
        a(href='/sign_up', class='link-element') Sign Up